<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Echo</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script>
        var ws = null

        function log(m) { $("#log").append("<br/>"+m) }

        function connect() {
            ws = new WebSocket("ws://" + window.location.host + "/ws")
            ws.onopen = function() { log("WebSocket connection established") }
            ws.onmessage = function(e) { log(e.data) }
            ws.onerror = function(e) { log(e) }
        }

        function send() {
            ws.send($("#message").val())
        }

        connect()

    </script>
</head>
<body>
<div class="container">

    <h2>WebSocket Echo with spring-boot</h2>

    <form class="form-inline" role="form">
        <input id="message" type="text" class="form-control" placeholder="Message input">
        <button type="button" class="btn btn-primary" onclick="send();">Send</button>
    </form>

    <div id="log">
    </div>

</div>
</body>
</html>
